.header{ 
    width: 100%;
    margin: 0 auto; 
    text-align: center;
    background-color: #F9A825;
    border-radius: 10px;
}

.header h1{
   
    line-height: 50px;
    
}
.header p{
    border-top: 10px;
    line-height: 30px;
    
}